# Created by https://www.toptal.com/developers/gitignore/api/mdbook
# Edit at https://www.toptal.com/developers/gitignore?templates=mdbook

### MdBook ###
book


# End of https://www.toptal.com/developers/gitignore/api/mdbook.DS_Store

.DS_Store
mdbook-admonish.css